:root {
  --main-text-color: #a96728;
  --accent-text-color: #e49a59;
  --second-text-color: #ffeace;
  --bold-weight: 700;
  --medium-weight: 500;
  --small-size: 14px;
  --medium-size: 16px;
  --large-size: 36px;
  --mobile-size: 28px;
  --main-ls: 0.03em;
  --secondary-ls: 0.06em;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--second-color);
  font-family: "Montserrat", sans-serif;
  color: var(--title-text-color);
}
body.no-scroll {
  overflow: hidden;
}

button {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  position: relative;
  padding-top: 20px;
  z-index: 1000;
}
@media screen and (max-width: 767.98px) {
  .header {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.logo {
  display: flex;
  align-items: flex-end;
  font-weight: var(--bold-weight);
  font-size: var(--medium-size);
  line-height: 1.17;
  letter-spacing: var(--main-ls);
  color: var(--main-text-color);
}
.logo svg {
  margin-left: 5px;
  fill: var(--main-text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}
@media screen and (max-width: 767.98px) {
  .navbar {
    display: none;
  }
}

.header__list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
}
.header__list li a {
  color: var(--main-text-color);
  font-size: var(--medium-size);
  line-height: 1.1;
  font-weight: var(--bold-weight);
  transition: color var(--animation);
}
.header__list li a:hover {
  color: var(--second-text-color);
}
@media screen and (max-width: 767.98px) {
  .header__list {
    display: none;
    justify-content: space-between;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 767.98px) {
  .banner {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.95;
}

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (max-width: 767.98px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.hero__title {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero__description {
    max-width: 300px;
  }
}

.btn {
  cursor: pointer;
  border: 1px solid var(--main-text-color);
  margin-top: 15px;
  z-index: 10;
  max-width: 200px;
  min-width: 200px;
  padding: 10px 30px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
  font-weight: var(--bold-weight);
  font-size: var(--medium-size);
  line-height: 1.88;
  letter-spacing: var(--secondary-ls);
  color: var(--second-text-color);
  background: inherit;
  box-shadow: 0px 2px 4px var(--main-text-color);
}
.btn a {
  color: var(--main-text-color);
}
.btn:hover, .btn:focus {
  color: var(--accent-text-color);
}
.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0;
  background: var(--main-text-color);
  transition: 0.8s;
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn:hover::before {
  height: 180%;
}

.hero-contacts {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 20px;
}
@media screen and (max-width: 767.98px) {
  .hero-contacts {
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 0;
    padding-top: 20px;
  }
}

.hero-contacts__link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-size: var(--medium-size);
  line-height: 1.1;
  font-weight: var(--bold-weight);
  transition: color var(--animation);
}
.hero-contacts__link:hover, .hero-contacts__link:focus {
  color: var(--second-text-color);
}

.hero__icon {
  margin-right: 10px;
  fill: currentColor;
}

.about {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #e8e8e8, #eeeeee, #f3f3f3, #f9f9f9, #ffffff);
}
.about h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--main-text-color);
}

.about__list {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}

@media screen and (max-width: 767.98px) {
  .about__item {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .about__item {
    flex-basis: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    flex-basis: 250px;
  }
}
@media screen and (max-width: 767.98px) {
  .about__item:last-child {
    margin-bottom: 0;
  }
}

.about__item-box {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-text-color);
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.133), 0px 1px 1px rgba(0, 0, 0, 0.166), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.about__item-icon {
  fill: var(--accent-text-color);
}

.about__item-title {
  text-align: center;
  font-size: var(--medium-size);
  font-weight: var(--medium-weight);
  color: var(--main-text-color);
}

.about-description {
  display: flex;
  gap: 10px;
  background: var(--accent-text-color);
  border-radius: 5px;
}

.about__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  letter-spacing: var(--main-ls);
}

.about__box-description {
  color: var(--main-text-color);
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  .about__box-description {
    font-size: 20px;
    max-width: 1600px;
  }
}

.about-description-pic {
  object-fit: cover;
}/*# sourceMappingURL=main.css.map */