.about {
  position: relative;
  overflow: hidden;

  background-image: linear-gradient(
    to bottom,
    #e8e8e8,
    #eeeeee,
    #f3f3f3,
    #f9f9f9,
    #ffffff
  );

  & h2 {
    text-align: center;
    margin-bottom: 30px;
    color: var(--main-text-color);
  }
}

.about__list {
  margin-bottom: 30px;

  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }
}

.about__item {
  @include mq(mobile-only) {
    width: 100%;
    margin-bottom: 30px;
  }

  @include mq(tablet) {
    flex-basis: 354px;
  }

  @include mq(desktop) {
    flex-basis: 250px;
  }

  &:last-child {
    @include mq(mobile-only) {
      margin-bottom: 0;
    }
  }
}

.about__item-box {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-text-color);
  margin-bottom: 20px;
  border-radius: 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.133), 0px 1px 1px rgba(0, 0, 0, 0.166),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.about__item-icon {
  fill: var(--accent-text-color);
}

.about__item-title {
  text-align: center;
  font-size: var(--medium-size);
  font-weight: var(--medium-weight);
  color: var(--main-text-color);
}

.about-description {
  display: flex;
  gap: 10px;

  background: var(--accent-text-color);
  border-radius: 5px;
}

.about__box {
  display: flex;
  flex-direction: column;
  gap: 15px;

  letter-spacing: var(--main-ls);
}

.about__box-description {
  color: var(--main-text-color);
  font-size: 20px;

  @include mq(desktop) {
    font-size: 20px;
    max-width: 1600px;
  }
}

.about-description-pic {
  object-fit: cover;
}
