:root {
  --main-text-color: #a96728;
  --second-text-color: #f5deb3;

  // Fonts
  --bold-weight: 700;
  --medium-weight: 500;

  // Font size
  --small-size: 14px;
  --medium-size: 16px;
  --large-size: 36px;
  --mobile-size: 28px;

  // letter-spacing //
  --main-ls: 0.03em;
  --secondary-ls: 0.06em;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  // Breakpoints
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}
