.header {
  position: relative;
  padding-top: 20px;
  z-index: 1000;

  @include mq(mobile-only) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.logo {
  display: flex;
  font-weight: var(--bold-weight);
  font-size: var(--medium-size);
  line-height: 1.17;
  letter-spacing: var(--main-ls);
  color: var(--main-text-color);

  & span {
    color: black;
  }

  & svg {
    margin-left: 5px;
    fill: #a96728;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ffffff;

  @include mq(mobile-only) {
    display: none;
  }
}

.header__list {
  display: flex;
  gap: 20px;

  & li a {
    color: var(--main-text-color);
    font-size: var(--medium-size);
    line-height: 1.1;
    font-weight: var(--bold-weight);
    transition: color var(--animation);

    &:hover {
      color: var(--second-text-color);
    }
  }

  @include mq(mobile-only) {
    display: none;
    justify-content: space-between;
  }
}
